h1{
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}

input{
  width: 100%;
}

.items{
  text-align: left;
  margin-left: 10px;;
}

.row{
  margin: 8px;
}

.btn{
  min-width: 80px;
}

.btn1{
  margin-left: -175px;
}

